


<%= @attempt %>

<p>Your word:</p>
  <%= @attempt %>
<p>Time Taken to answer:</p>
  <%= @result[:time] %>
<p>Translation:</p>
  <%= @result[:translation] %>
<p>Your score:</p>
  <%= @result[:score] %>
<p>Message:</p>
  <%= @result[:message] %>



<%= link_to 'Play another game', game_path %>
